@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);


h5 {
	margin: 20px auto;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: #333;
	opacity: 0.4;
	font: 700 50px 'Bitter';
}
