<div class="container">
  <div style="text-align:center">
  <h1>{{title}}</h1>
  <img src="https://d1tyf8b78tco2j.cloudfront.net/928519b4/4fdd1c6c/images/acff78ffd352caaa72bc24ee7dc06724d336d6f1.620.350.31.0.1273.720.jpg" />
</div>
  <router-outlet></router-outlet>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">BookClub</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">Go to About</a></li>
      <li><a routerLink="/">Go Home</a></li>
      <li><a routerLink="membership-page">Goto Membership page</a></li>
      <li><a routerLink="user">Fill out that form</a></li>
    </ul>
  </div>
</nav>
