<div class="container">
  <div style="text-align:center">
  <h1>{{title}}</h1>
</div>
  <router-outlet></router-outlet>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">BookClub</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">Go to About</a></li>
      <li><a routerLink="/">Go Home</a></li>
      <li><a routerLink="membership-page">Goto Membership page</a></li>
    </ul>
  </div>
</nav>
