<h4>Edit Album</h4>

<select [(ngModel)]='selectedMember.title'>
  <option>Official</option>
  <option>Member</option>
   </select>
<br>
<label>New Album Artist:</label>
<input [(ngModel)]="selectedMember.name">
<br>
<label>New Album Artist:</label>
<input [(ngModel)]="selectedMember.age">
<br>
<label>New Album Description:</label>
<input [(ngModel)]="selectedMember.description">

<button class="waves-effect waves-light btn-large"(click)="beginUpdatingMember(selectedMember)"> Update </button>
<button class="waves-effect waves-light btn-large"(click)="beginDeletingMember(selectedMember)">Delete</button>
