<h4>Edit BookClub Member</h4>

<select [(ngModel)]='selectedMember.title'>
  <option>Official</option>
  <option>Member</option>
   </select>
<br>
<label>Members Name:</label>
<input [(ngModel)]="selectedMember.name">
<br>
<label>Members Age:</label>
<input [(ngModel)]="selectedMember.age">
<br>
<label>Describe:</label>
<input [(ngModel)]="selectedMember.description">

<button class="btn btn-primary my-2 my-sm-0"(click)="beginUpdatingMember(selectedMember)"> Update </button>
<button class="btn btn-success my-2 my-sm-0"(click)="beginDeletingMember(selectedMember)">Delete</button>
