<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Member Information</h3>
  </div>
  <div class="panel-body">
    <div>
      <div class='form-group'>
      <label>Experience Level:</label><br>
      <select #newTitle>
        <option>Official</option>
        <option>Member</option>
      </select>
    </div>

      <div>
        <label>Name:</label>
        <br>
        <input #newName>
      </div>
      <div>
        <label>Age:</label>
        <br>
        <input #newAge>
      </div>
      <div>
        <label>Description:</label>
        <br>
        <textarea #newDescription></textarea>
      </div>
      <button (click)="submitForm(newTitle.value, newName.value, newAge.value, newDescription.value);newTitle.value=''; newName.value=''; newAge.value=''; newDescription.value=''"> Click Here to Enter Your Information</button>
    </div>
  </div>
</div>
<div>
  <app-membership-page></app-membership-page>
</div>
