/*.jumbotron {
  background-color: #8c7a62;
  color: white;
}*/
#body{
  background-color: #FA8B75;
  background-image: url("http://1.bp.blogspot.com/-iPHLl1nKREI/TlWKOB2GB_I/AAAAAAAAHLQ/K4DVuE4bGqY/s1600/book+pages+on+wall.png");

}
