
<div *ngFor="let member of members | async" (click)="goToDetailPage(member)">
  <div class="bg-success panel-body">
    <h3><em>{{member.title}}:</em> {{member.name}}</h3>
  </div>
</div>






<p>
  1. Book Club Roles<br />Job descriptions<br />*Remember each time you <br />meet, you’ll have a different<br />role or job<br />
2. Job 1: Wordsmith	<br />Look for :<br />5 (or more) important words or phrases<br />Repeated words or used in a different way<br />Mark unknown words with a sticky<br />Then find meaning using a dictionary or another source<br />Point out these words to your group and discuss them<br />
3. Job 2: Captain Connector<br />Find 5 (or more) connections to the book and the outside world<br />To your own life<br />To things at school<br />Community<br />Other people you know<br />Other books<br />Use sticky notes to mark the pages<br />Explain your thinking on job sheet<br />
4. Job 3: Genius Guesser<br />Find special sections of the book to read aloud<br />helps people remember interesting, powerful, funny or important parts<br />Mark with sticky notes<br />With your group you can:<br />Read them yourself<br />Ask someone else to read<br />Have group read silently <br />Discuss with group<br />Explain thinking on job sheet<br />
5. Job 4: Question Queen/King<br />Make a list of questions to discuss<br />Use sticky notes to mark the pages that made you think of the questions<br />Think: <br />What questions went through MY mind as I read this part? <br />Use your own thoughts, feelings and concerns<br />Use “fat” questions<br />These are BIG, open ended questions that members may not always agree with<br />Write questions on job sheet<br />
6. Job 5: Artful Artist	<br />Draw a picture related to the reading<br />Sketch<br />Cartoon<br />Diagram<br />Flow chart, any graphic is okay<br />Mark page that made you think of drawing with a sticky note<br />Make group guess about your<br />picture and explain it <br />
7. Job 6: Transformer<br />Prepare a short summary of the reading<br/>Did your thinking change in any way?<br />About the book, characters, author or yourself<br />Discuss main points of reading and how the reading changed your ideas<br />
8. Enjoy your books, your roles and happy reading!<br />
</p>
